
<div> 
    
    <article class="mainIndex">
    <img src = "/images/beer.png">

    </article>

    <p class="buttonsIndex">
    <button><a href="/beers"> Get the Beers!</a></button>
    <button><a href="/randomBeers"> Get a Random Beer!</a></button>
    </p>
    


</div>